<head>
  {% extends 'ohsiha_app/base.html' %}
  {% block title %}Home{% endblock %}

  {% block content %}
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.css" rel=”stylesheet” type=”text/css”>
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.css" rel=”stylesheet” type=”text/css”>

  <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
  {{ script | safe }}
  {{script2 | safe }}
</head>

  <body>

    <h2>KORONATILASTOJA</h2>
    <p> <strong>Jokaisen valmentajan on hyvä tietää onko turvallista treenata.
        Tarkista tilanne kuvaajasta! </strong> </p>
    <p>Varmennetut tapaukset: <strong>{{ confirmed }}</strong></p>
    <p>Parantuneet potilaat: <strong>{{ recovered }}</strong></p>

    <p><strong>Päivittäiset uudet koronatartunnat Suomessa</strong></p>

    {{div | safe }}

    <p><strong>Kumulatiivinen tartuntamäärä</strong></p>

    {{div2 | safe }}

    {%endblock%}
  </body>
